.heroImage {
  background-image: url("../../../public/images/heroImage.png");
  background-size: cover;
  height: 80vh;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 72rem;
  width: 60%;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #F1F1F1E5;
  h1 {
    padding-bottom: 2rem;
  }
  p {
    padding-bottom: 1rem;
  }
  
}

@media (max-width: 720px) {
  .container{
    width: 100%;
  }
}

@media (max-width: 312px){
  .content{
    a{
      width: 15rem;
    }
  }
}